<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shishikon</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&amp;family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  </head>
  <body class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">

    <!-- INTRO -->
    {% include 'sub_templates/intro.html' %}
    <!-- intro end-->

    <!-- NAVBAR -->
    {% include 'components/navbar.html' %}
    <!-- NAVBAR end-->

    <!-- ABOUT -->
    {% include 'sub_templates/about.html' %}
    <!-- about end-->

    <!-- Tech Stack -->
    {% include 'sub_templates/stack.html' %}
    <!-- Tech Stack end-->

    <!-- PORTFOLIO / PROJECTS -->
    {% include 'sub_templates/projects.html' %}
    <!-- portfolio end-->

    <!-- EDUCATION -->
    {% include 'sub_templates/education.html' %}
    <!-- education end -->

    <!-- CERTIFICATIONS -->
    {% include 'sub_templates/cert.html' %}
    <!-- certifications end -->

    <!-- CONTACT -->
    {% include 'sub_templates/contact.html' %}
    <!-- CONTACT end-->

    <!-- FOOTER-->
    {% include 'components/footer.html' %}
    <!-- FOOTER end-->



    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>

    <!--MAIN-->
    <script src="{% static 'js/vanilla.js' %}"></script>
    <!--MAIN-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  </body>
</html>