
<section id="about">
      <div class="container">
        <div class="row gy-4 align-items-center">
          <div class="col-lg-6">
            <h2 class="underline text-uppercase">About me</h2>
            <p class="lead" id="about-profession"></p>
            <p id="about-bio"></p>
            <p id="about-description"></p>
          </div>
          <div class="col-lg-5 mx-auto text-center">
            <img class="img-fluid rounded-circle" id="about-image" src="" alt="Profile photo" style="display:none;">
          </div>
        </div>
      </div>
    </section>