    <section class="pb-5 " id="contact">
      <div class="container">
        <h2 class="underline">Contact</h2>
        <div class="row gy-4 justify-content-center align-items-center">
          <div class="col-lg-8 mx-auto">
            <form class="contact-form" id="contact-form" method="post">
              <div class="row gy-3">
                <div class="col-md-6">
                  <label class="form-label" for="name">Your firstname *</label>
                  <input class="form-control" type="text" name="name" placeholder="Enter your firstname" required>
                </div>
                <div class="col-md-6">
                  <label class="form-label" for="lastname">Your lastname *</label>
                  <input class="form-control" type="text" name="surname" placeholder="Enter your lastname" required>
                </div>
                <div class="col-12">
                  <label class="form-label" for="email">Your email *</label>
                  <input class="form-control" type="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="col-12">
                  <label class="form-label" for="message">Your message for us *</label>
                  <textarea class="form-control" rows="4" name="message" placeholder="Enter your message" required></textarea>
                </div>
                <div class="col-12 text-center">
                  <input class="btn btn-outline-primary w-100" type="submit" name="name" value="Send message">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6">
            <p id="contact-info"></p>
            <p id="contact-social"></p>
          </div>
        </div>
      </div>
    </section>