{% load static %}
<section class="intro dark-overlay bg-cover bg-fixed bg-center d-flex align-items-center" id="intro" style="background-image: url({% static 'img/ein-steig.jpg'%});">
      <div class="overlay-content w-100 text-white">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 mx-auto">
              <!-- Name/profession from About API -->
              <h1 class="text-uppercase intro-heading text-uppercase letter-spacing-2" id="intro-name">Loading...</h1>
              <p class="fst-italic intro-text mb-0" id="intro-profession"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
